.bg-lightBlack {
    background-color: #00000090;
}

.bg-lightGrey {
    background-color: rgb(152, 152, 152);
}

.bg-white {
    background-color: white;
}

.bg-darkBlue {
    background-color: #041322;
}

.bg-orange {
    background-color: orange;
}

.bg-black {
    background-color: black;
}

.bg-trasparent {
    background-color: transparent;
}

.bg-black-50 {
    background: rgba(0, 0, 0, 0.584);
}

.bg-dark-grey {
    background-color: rgb(83, 82, 82);
}