.c-white {
    color: white;
  }
  
  .c-lightViolet {
    color: #414770;
  }
  
  .c-lightGrey {
    color: rgb(170, 169, 169);
  }
  
  .c-grey {
    color: gray;
  }
  
  .c-orange {
    color: orange;
  }
  