// %
.h-100 {
    height: 100%;
}

.h-80 {
    height: 80%;
}

.h-70 {
    height: 70%;
}

.h-60 {
    height: 60%;
}

.h-30 {
    height: 30%;
}

.h-20 {
    height: 20%;
}

// px
.h-15px {
    height: 15px;
}

.h-20px {
    height: 20px;
}

.h-60px {
    height: 60px;
}

.h-70px {
    height: 70px;
}

.h-300px {
    height: 300px;
}

.h-900px {
    height: 900px;
}

.h-2000px {
    height: 2000px;
}

// vh
.h-100vh {
    height: 100vh;
}

.h-5000vh {
    height: 5000vh;
}

.h-70vh {
    height: 70vh;
}

.h-15vh {
    height: 15vh;
}

// calc
.h-calc-max-3 {
    height: calc(100% / 3);
}