// positions
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

// directions
.right-0 {
    right: 0;
}
.right--100 {
    right: -100%;
}
.top-0 {
    top: 0;
}

.top-50 {
    top: 50%;
}

.left-0 {
    left: 0;
}

.left-50 {
    left: 50%;
}

.bottom-0 {
    bottom: 0;
}

.bottom-50 {
    bottom: 50%;
}

// traslations
.translateXY {
    transform: translate(-50%, -50%);
}

.translateX-50 {
    transform: translateX(-50%);
}

//   transform
.transform-origin-bottom-center {
    transform-origin: bottom center;
}

.transform-origin-center {
    transform-origin: center;
}
.rotate-90deg {
    transform: rotate(90deg);
  }